<hibernate-configuration>
<session-factory>
<property name="hibernate.hbm2ddl.auto">update</property>
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jfsd_endsem_lab</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">Virat@1818</property>
<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<mapping class="com.pro.project1.Student"/>
</session-factory>
</hibernate-configuration>